INSERT INTO InfoLogicielDivers (DateFirstUsage,CheminImporterComm, CheminImporterDB, CheminImporterPhoto, CheminTextBox1)
VALUES('1990/01/01', '', '', '', '')
INSERT INTO KPCategorie (Categorie) VALUES( 'Organisme gouvernemental')
--Preferences w/o Admin showed
--UPDATE Preferences SET Preferences = '§newalertgras§=§True§§copoc4§=§False§§cocc11§=§True§§hideendedusersfolder§=§True§§verifyfrequencefornewrv§=§True§§listitalique§=§False§§do3dopt§=§False§§typeafflistefenetres§=§Dans une liste déroulante§§cocc9§=§False§§printrecuforclientauto§=§True§§cocc12§=§False§§listborder§=§0§§alistcolors4§=§0§§listsouligne§=§False§§autoupdateonstart§=§False§§autoselectlastuserinacces§=§True§§nbdaycar§=§-1§§cocc17§=§False§§alistcolors1§=§-2147483633§§trirvcompte§=§Descendant§§copoc5§=§False§§affdefcodesinspecifictrp§=§True§§askforreplacingdbitem§=§True§§cocc18§=§False§§copoc8§=§False§§afflastusertype§=§False§§colorwithoutrv§=§13882323§§nbjourforautoql§=§10§§colortitrefacturesouffrance§=§255§§newalertstrike§=§False§§publipostagenbsending§=§0§§services§=§Ergothérapie	Physiothérapie§§colorbloquee§=§11119017§§rvevalfont§=§Aucune§§cocc5§=§True§§remotetask-dummymodule-autosaveresultdbpath§=§Ne pas enregistrer§§nbevalto100tauxautonomie§=§5§§alerttrponrvabsence§=§True§§taxe2§=§5§§colorwithrv§=§16777215§§printingheader§=§ §§taxe1§=§9,5§§alistcolors5§=§-2147483643§§remotetask-ci.csstautomation-autosaveresultdbpath§=§Ne pas enregistrer§§adjustingcommentsforced§=§True§§printingfooter§=§&bPage &p / &P§§copoc3§=§False§§colorhoraireopen§=§16711680§§alistcolors2§=§0§§newalertitalic§=§False§§prereferents§=§ §§confirmdaterechute§=§False§§tripaiements§=§Ascendant§§activefolderautoonrvstatuschange§=§False§§demandeauthorisationcommentsrequired§=§True§§allowtoskipabsencereasoninsertiontotext§=§False§§taxesinteraction§=§Appliquer la Taxe 2 sur le montant brut§§autoselectancre§=§True§§cocc19§=§False§§copoc2§=§True§§actiononnorv§=§Toujours demander quoi faire§§listgras§=§False§§ancre§=§-->§§taxearrondissement§=§Toujours à la cent supérieure§§autodelqlafternewrv§=§True§§listmarge§=§1§§htmleditorpath§=§http://localhost/WebTextBox/WebTextPage.aspx§§rvevalitalique§=§False§§showqlonagendaremove§=§True§§copoc10§=§False§§copoc11§=§False§§publipostagespacing§=§0,8§§cocc13§=§False§§montantfacturehistoiscumulative§=§False§§colorhoraireclose§=§16775408§§lastusertype§=§* Défaut *§§alistcolors6§=§0§§listfontsize§=§8§§medecincategorie§=§Médecin§§textforplagebloquee§=§Plage bloquée par la liste d''attente§§cocc2§=§True§§cocc3§=§True§§listcolors1§=§-2147483648§§listcolors2§=§-2147483643§§listcolors3§=§-2147483643§§listcolors4§=§-2147483633§§listcolors5§=§-2147483646§§listcolors6§=§0§§listcolors7§=§0§§colorobjactivatedbysoftware§=§36095§§affadmininacces§=§False§§listmousespeed§=§50§§copoc6§=§False§§copoc1§=§True§§colors7§=§8454143§§colors6§=§12648447§§colors5§=§255§§colors4§=§9498256§§textshowedcharbycharvertically§=§True§§colors2§=§16761024§§colors1§=§-2147483633§§nbsecondsforping§=§30§§listbarre§=§False§§confirmdbdragdrop§=§True§§newalertunder§=§False§§allowuseremptypassword§=§False§§newalertfontsize§=§10§§usermdprespectcasse§=§True§§rvevalgras§=§True§§copoc9§=§False§§activefolderautoonrvadding§=§False§§cocc1§=§True§§cocc6§=§True§§defaultequipementtype§=§ §§cocc10§=§True§§cocc4§=§True§§alistcolors3§=§-2147483633§§listfont§=§Aucune§§rvevalsouligne§=§False§§colorspecialdates§=§3329434§§affspecialdatesinagenda§=§True§§cocc15§=§True§§confirmdateaccident§=§True§§confirmwhenpastingrvintoagendawhichnottrptraitant§=§False§§colorcommreceived§=§16777215§§intervaltoshowtextinstatusbar§=§2§§cocc16§=§False§§publipostagesendinginterval§=§0§§autrestypesbills§=§ §§methodespaiment§=§Argent§§copoc7§=§False§§colorpresencepayee§=§16777215§§colorcommsent§=§13882323§§trifactures§=§Descendant§§newrvfont§=§Aucune§§publipostagetopmargin§=§0,1§§administratorpassword§=§AdminUser147963Power§§trirvfuturs§=§Ascendant§§affspecialdatesincalendar§=§True§§rvevalbarre§=§False§§mouseover3dopt§=§False§§colors3§=§8421631§§prefixnorecu§=§ §§nbvisitecar§=§-1§' WHERE NoUser IS NULL
--Preferences w Admin showed
UPDATE Preferences SET Preferences = '§newalertgras§=§True§§copoc4§=§False§§cocc11§=§False§§hideendedusersfolder§=§True§§verifyfrequencefornewrv§=§True§§listitalique§=§False§§do3dopt§=§False§§typeafflistefenetres§=§Dans une liste déroulante§§cocc9§=§False§§printrecuforclientauto§=§True§§cocc12§=§False§§listborder§=§0§§alistcolors4§=§0§§autoselectancre§=§True§§listsouligne§=§False§§autoupdateonstart§=§False§§autoselectlastuserinacces§=§True§§nbdaycar§=§-1§§cocc17§=§False§§alistcolors1§=§16777215§§trirvcompte§=§Descendant§§copoc5§=§False§§affdefcodesinspecifictrp§=§True§§askforreplacingdbitem§=§True§§cocc18§=§False§§copoc8§=§False§§afflastusertype§=§False§§colorwithoutrv§=§13882323§§nbjourforautoql§=§10§§copoc9§=§False§§publipostagenbsending§=§0§§publipostagesendinginterval§=§0§§services§=§Ergothérapie Physiothérapie§§rvevalfont§=§Aucune§§nbevalto100tauxautonomie§=§5§§alerttrponrvabsence§=§True§§taxe2§=§5§§colorwithrv§=§16777215§§printingheader§=§ §§taxe1§=§9,5§§alistcolors5§=§-2147483643§§remotetask-ci.csstautomation-autosaveresultdbpath§=§Ne pas enregistrer§§adjustingcommentsforced§=§True§§htmleditorpath§=§http://10.56.80.5/WebSite/WebTextPage.aspx§§printingfooter§=§&bPage &p / &P§§copoc3§=§False§§colorhoraireopen§=§16711680§§alistcolors2§=§0§§newalertitalic§=§False§§prereferents§=§ §§confirmdaterechute§=§False§§listfontsize§=§8§§activefolderautoonrvstatuschange§=§False§§demandeauthorisationcommentsrequired§=§True§§allowtoskipabsencereasoninsertiontotext§=§False§§taxesinteraction§=§Appliquer la Taxe 2 sur le montant brut§§affspecialdatesincalendar§=§True§§cocc19§=§False§§copoc2§=§True§§actiononnorv§=§Toujours demander quoi faire§§listgras§=§False§§ancre§=§>>§§taxearrondissement§=§Toujours à la cent supérieure§§autodelqlafternewrv§=§True§§listmarge§=§1§§prefixnorecu§=§ §§newalertstrike§=§False§§rvevalitalique§=§False§§showqlonagendaremove§=§True§§copoc10§=§False§§copoc11§=§False§§publipostagespacing§=§0,8§§cocc13§=§False§§montantfacturehistoiscumulative§=§False§§colorhoraireclose§=§16775408§§lastusertype§=§* Défaut *§§alistcolors6§=§0§§colortitrefacturesouffrance§=§255§§medecincategorie§=§Médecin§§textforplagebloquee§=§Plage bloquée par la liste d''attente§§newalertunder§=§False§§alistcolors3§=§-2147483633§§listcolors1§=§-2147483648§§listcolors2§=§-2147483643§§listcolors3§=§-2147483643§§listcolors4§=§-2147483633§§listcolors5§=§-2147483646§§listcolors6§=§0§§listcolors7§=§0§§colorobjactivatedbysoftware§=§36095§§affadmininacces§=§True§§listmousespeed§=§50§§copoc6§=§False§§copoc1§=§True§§colors7§=§8454143§§colors6§=§12648447§§colors5§=§255§§colors4§=§9498256§§textshowedcharbycharvertically§=§True§§colors2§=§16761024§§colors1§=§-2147483633§§nbsecondsforping§=§30§§listbarre§=§False§§confirmdbdragdrop§=§True§§colorbloquee§=§11119017§§allowuseremptypassword§=§False§§newalertfontsize§=§10§§usermdprespectcasse§=§True§§rvevalgras§=§True§§cocc2§=§True§§cocc3§=§False§§activefolderautoonrvadding§=§False§§cocc1§=§True§§cocc6§=§True§§defaultequipementtype§=§ §§cocc10§=§False§§cocc4§=§False§§cocc5§=§False§§listfont§=§Aucune§§newrvfont§=§Aucune§§colorspecialdates§=§3329434§§affspecialdatesinagenda§=§True§§cocc15§=§False§§confirmdateaccident§=§True§§confirmwhenpastingrvintoagendawhichnottrptraitant§=§False§§tripaiements§=§Ascendant§§intervaltoshowtextinstatusbar§=§2§§cocc16§=§False§§colorcommreceived§=§16777215§§autrestypesbills§=§ §§methodespaiment§=§Chèque Comptant Virement automatique§§copoc7§=§False§§colorpresencepayee§=§16777215§§colorcommsent§=§13882323§§trifactures§=§Descendant§§publipostagetopmargin§=§0.82§§administratorpassword§=§AdminUser952487Power§§trirvfuturs§=§Ascendant§§rvevalbarre§=§False§§mouseover3dopt§=§False§§colors3§=§8421631§§rvevalsouligne§=§False§§nbvisitecar§=§-1§' WHERE NoUser IS NULL
GO

SET IDENTITY_INSERT [dbo].[KeyPeople] ON 

GO
INSERT [dbo].[KeyPeople] ([NoKP], [Nom], [NoCategorie], [Adresse], [NoVille], [CodePostal], [Telephones], [NoRef], [Courriel], [URL], [NoClient], [AutreInfos], [NoEmployeur], [NoUser], [DateHeureCreation], [WorkPlace], [Publipostage]) VALUES (1, N'CSST', 1, N'', null, N'', N'Centrale:1-800-461-4489', N'', N'', N'csst.ca', NULL, N'', NULL, 0, '2000/01/01', N'<br>Aucun organisme clé', 0)
INSERT [dbo].[KeyPeople] ([NoKP], [Nom], [NoCategorie], [Adresse], [NoVille], [CodePostal], [Telephones], [NoRef], [Courriel], [URL], [NoClient], [AutreInfos], [NoEmployeur], [NoUser], [DateHeureCreation], [WorkPlace], [Publipostage]) VALUES (2, N'SAAQ', 1, N'', null, N'', N'Générale:1-800-463-6890', N'', N'', N'saaq.qouv.qc.ca', NULL, N'', NULL, 0, '2000/01/01', N'<br>Aucun organisme clé', 0)
GO
SET IDENTITY_INSERT [dbo].[KeyPeople] OFF
GO


SET IDENTITY_INSERT [dbo].[Modeles] ON 


SET IDENTITY_INSERT [dbo].[Modeles] OFF
GO

SET IDENTITY_INSERT [dbo].[FolderTexteTypes] ON 

GO

INSERT [dbo].[FolderTexteTypes] ([NoFolderTexteType], [NoModeleCategorie], [Position], [IsDefault], [ResetTextOnCopy], [TexteTitle], [CopyTextToOtherText], [WhenToBeCreated], [NbDaysX], [NbPresencesX], [Multiple], [TypeForMultiple], [NbDaysMultiple], [NbPresencesMultiple], [NbMultipleEnding], [WhenToBeStopped], [IsNbDaysDiffBefore], [NbDaysDiff], [ShowAlert], [ShowAlarm], [AlertNbDaysForExpiry], [AlertMessageArticle], [IsActive], [StartingExternalStatus], [ModelAppliedOnCreation]) VALUES (2, 4, 2, 1, 0, N'Notes', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, N'', 1, 1, NULL)
INSERT [dbo].[FolderTexteTypes] ([NoFolderTexteType], [NoModeleCategorie], [Position], [IsDefault], [ResetTextOnCopy], [TexteTitle], [CopyTextToOtherText], [WhenToBeCreated], [NbDaysX], [NbPresencesX], [Multiple], [TypeForMultiple], [NbDaysMultiple], [NbPresencesMultiple], [NbMultipleEnding], [WhenToBeStopped], [IsNbDaysDiffBefore], [NbDaysDiff], [ShowAlert], [ShowAlarm], [AlertNbDaysForExpiry], [AlertMessageArticle], [IsActive], [StartingExternalStatus], [ModelAppliedOnCreation]) VALUES (3, 5, 3, 0, 1, N'Rapport au médecin', 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, N'', 1, 1, NULL)

GO
SET IDENTITY_INSERT [dbo].[FolderTexteTypes] OFF
GO
INSERT [dbo].[CodesDossiersCodes] ([NoCodeUnique], [CodeName]) VALUES (1, N'CSST')
INSERT [dbo].[CodesDossiersCodes] ([NoCodeUnique], [CodeName]) VALUES (2, N'Externe')
INSERT [dbo].[CodesDossiersCodes] ([NoCodeUnique], [CodeName]) VALUES (3, N'SAAQ')
GO
INSERT [dbo].[CodesDossiersFolderTexteTypes] ([NoUnique], [NoFolderTexteType], [NoUser]) VALUES (1, 1, NULL)
INSERT [dbo].[CodesDossiersFolderTexteTypes] ([NoUnique], [NoFolderTexteType], [NoUser]) VALUES (1, 2, NULL)
INSERT [dbo].[CodesDossiersFolderTexteTypes] ([NoUnique], [NoFolderTexteType], [NoUser]) VALUES (1, 3, NULL)

GO
SET IDENTITY_INSERT [dbo].[CodificationsDossiers] ON 

GO
INSERT [dbo].[CodificationsDossiers] ([NoCodification], [NoUser], [NoUnique], [FirstEffectiveTime], [LastEffectiveTime], [Recu], [Paiement], [MsgNoRef], [MsgDiagnostic], [DateAccidentActif], [DateRechuteActif], [AutoOpenPaiement], [AffPourcentAllTimes], [Confirmation], [PonderationEval], [PonderationPresence], [MethodePaiementDefaut], [DemandeAuthorisation], [NotConfirmRVOnPasteOfDTRP], [StartingExternalStatus]) VALUES (1, NULL, 1, '1990/01/01', NULL, 0, 0, 0, 1, 1, 1, 1, 0, 1, 2, 1, N'Virement automatique', 1, 0, 2)
INSERT [dbo].[CodificationsDossiers] ([NoCodification], [NoUser], [NoUnique], [FirstEffectiveTime], [LastEffectiveTime], [Recu], [Paiement], [MsgNoRef], [MsgDiagnostic], [DateAccidentActif], [DateRechuteActif], [AutoOpenPaiement], [AffPourcentAllTimes], [Confirmation], [PonderationEval], [PonderationPresence], [MethodePaiementDefaut], [DemandeAuthorisation], [NotConfirmRVOnPasteOfDTRP], [StartingExternalStatus]) VALUES (2, NULL, 2, '1990/01/01', NULL, 1, 0, 0, 1, 0, 0, 1, 0, 1, 2, 1, N'Argent', 0, 0, 1)
INSERT [dbo].[CodificationsDossiers] ([NoCodification], [NoUser], [NoUnique], [FirstEffectiveTime], [LastEffectiveTime], [Recu], [Paiement], [MsgNoRef], [MsgDiagnostic], [DateAccidentActif], [DateRechuteActif], [AutoOpenPaiement], [AffPourcentAllTimes], [Confirmation], [PonderationEval], [PonderationPresence], [MethodePaiementDefaut], [DemandeAuthorisation], [NotConfirmRVOnPasteOfDTRP], [StartingExternalStatus]) VALUES (3, NULL, 3, '1990/01/01', NULL, 0, 0, 0, 1, 1, 0, 1, 0, 1, 2, 1, N'Chèque', 1, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[CodificationsDossiers] OFF
GO
SET IDENTITY_INSERT [dbo].[CodesDossiersPeriodes] ON 


GO
INSERT [dbo].[CodesDossiersPeriodes] ([NoCDPeriode], [NoCodification], [IsEval], [NoPeriode], [Montant], [IsDefault], [PourcentAbsence], [PourcentClient], [NoKP]) VALUES (1, 1, 0, 1, 36.0000, 1, 0, 0, 1)
INSERT [dbo].[CodesDossiersPeriodes] ([NoCDPeriode], [NoCodification], [IsEval], [NoPeriode], [Montant], [IsDefault], [PourcentAbsence], [PourcentClient], [NoKP]) VALUES (2, 1, 1, 4, 36.0000, 1, 0, 0, 1)
INSERT [dbo].[CodesDossiersPeriodes] ([NoCDPeriode], [NoCodification], [IsEval], [NoPeriode], [Montant], [IsDefault], [PourcentAbsence], [PourcentClient], [NoKP]) VALUES (3, 2, 0, 1, 45.0000, 1, 0, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[CodesDossiersPeriodes] OFF
GO
