§ Utils/§ ErrorLog To check/Errors-Out/
§ Aide/Extracted/
§ Aide/helpData_files/
Updates/
§ Aide/helpData.htm
DLLs/
§§ Liste de clients pour Clinica.xls.lnk
Serveur/LastVersion/
§ Aide/Extracted.rar
§ Utils/§ ErrorLog To check/Errors/
§ Utils/TransferFromCSST/ClientsData/
