
Physio2-Remoting test/Clinica.config.cmsa.xml
Physio2-Remoting test/Clinica.config.demo.xml
Physio2-Remoting test/Clinica.config.leg.xml
Physio2-Remoting test/Clinica.config.pat.xml
Physio2-Remoting test/Clinica.config.st.xml
Physio2-Remoting test/Clinica.config.Windows2012.xml
Physio2-Remoting test/Clinica.config.xml
Physio2-Remoting test/Clinica2012.bat
Physio2-Remoting test/compile-log.txt
Physio2-Remoting test/compileClinica.txt
Physio2-Remoting test/csstresult.html
Physio2-Remoting test/Data/Serveur/DJONLAPTOP
Physio2-Remoting test/LocalTestRun.testrunconfig
Physio2-Remoting test/SQL/Backup - Version 127.sql
Physio2-Remoting test/WebTextPage/licenses.licx
Physio2-Remoting test/§ Dropbox conflicts.search-ms
Physio2-Remoting test/§ Dropbox conflicts.fnd
